@import url("./global.scss");

aboutme {
    width: 80vw;
    margin-left: 10vw;
    display:block;
    height:fit-content;
    margin-top: calc(30vh - 52px);

    .aboutWrap {
        display:flex;
        flex-direction:row;
    }

.photo {
    border-radius: 0.5vw;
    border: none;
    background: rgba(0,0,0,1);
    margin-left:10vw;
    width: 25vw;
    height: 25vw;
    box-shadow: 10px 10px var(--accent);
    transition: 1s ease;
    object-fit: cover;


    outline: 12.5vw solid var(--accent-verytransparent) !important;
    outline-offset: -12.5vw;
    
}

.photo:hover {
    transform: translate(-5px, -5px);
    box-shadow: 20px 20px var(--accent);
    outline: 12.5vw solid rgba(0,0,0,0) !important;
}
}

@media screen and (max-width: 850px) {
    aboutme {

    .aboutWrap {
        flex-direction: column-reverse;
        align-items: center;
    }
    .photo {
        width: 100%;
        box-shadow: none;
        height:auto;
        margin:0;
        margin: 2vh 0; 
    }
    .photo:hover {
        transform: none;
        box-shadow:none;
    }
    .description {
        width: 100%;
    }
}
}