@import url("./global.scss");

experience {
    width: 80vw;
    margin-left: 10vw;
    display:block;
    margin-top:calc(30vh - 52px);

    .expTable {
        .accordion {
            cursor: pointer;
            background:var(--sd-transparent);
            color:var(--light);
            font-family: var(--sans);
            padding: 18px;
            width: 100%;
            text-align: left;
            border:none;
            border-bottom:1vh solid var(--accent);
            border-radius:1vh;
            outline: none;
            transition: 0.4s;
            margin: 2vh 0;
            display:flex;
          }
          
          
          /* Style the accordion panel. Note: hidden by default */
          .panel {
            padding: 0 18px;
            display: none;
            overflow: hidden;
          }
          #fpanel {
            padding: 0 18px;
            display: block;
            overflow: hidden;
          }
    }
    .companyLogo {
        border-radius: 200%;
        width: 8em;
        height: 8em;
        height:auto;
    }
    h2 {
        font-family: var(--sans);
    }
    img {
        float: left;
    width: 10vw;
    max-width: 10vw;
    height: 10vw;
    max-height: 10vw;
    object-fit: cover;
    margin: 2vw;
    vertical-align: bottom;
    border-radius: 0.5vw;
    margin-left: 0 !important;
    }

    p {
        font-weight: 300;
        line-height: 2;
        letter-spacing: .05em;
    }
    .slightBold {
        font-weight: 400;
    letter-spacing: .13em;
    
}
h4 {
    font-family: var(--mono);
    color: var(--light);
    letter-spacing: .2em;
    margin-top: 0.5vw;
    font-size: 1.25vw;
}
.projectBox {
    width: 80vw;
    padding-right: 2vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 2vw;
    background-color: var(--dark);
    border-left: 2vw var(--accent) solid;
    border-radius: 0.4vw;
    height: fit-content;
    transition: 0.5s ease;
    margin-top: 3vh;
    h2{
        background:transparent;
    }
}

.projectBox:hover {
    border-left: 2vw var(--accent-dark) solid;
}

.company {
    color: var(--accent);
    font-style: italic;
}
   h2 {
    margin-bottom: 0;
   } 
   .hr {
    top:-2vw !important;
   }
}




.accordion, .panel {
    background:transparent;

}

.dates {
    font-family: var(--mono);
}