@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*:root {
    --dark: #322C2F;
    --light: #F1F1F1;
    --accent: #d89e2b;
    --accent-dark: #ad7f23;
    --semi-dark: #665b60;
    --sans: 'Poppins', sans-serif;
    --mono: "Source Code Pro", monospace;
}*/

/*:root {
    --dark: #F1F1F1;
    --light: #322C2F;
    --accent: #ad7f23;
    --accent-dark:#755617;
    --semi-dark: #665b60;
    --sans: 'Poppins', sans-serif;
    --mono: "Source Code Pro", monospace;
}*/

:root {
    --dark: #1F242C;
    --darker: #161a20;
    --light: #ced5dc;
    --accent: #00C395;
    --accent-verytransparent: rgba(0,195,149,.1);
    --accent-transparent: rgba(0, 195, 149, .2); 
    --accent-dark:#018a6a;
    --semi-dark: #3d4654;
    --sd-transparent: rgba(255,255,255, 0.05);
    --sd-transparent-2: rgba(125,125,125, 0.05);
    --sans: 'Poppins', sans-serif;
    --mono: "Roboto Mono", monospace;
}

* {
    font-size: 1.25vw;
  }

/* ===== Scrollbar CSS ===== */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--semi-dark) #ced5dc;
  }
  ::-webkit-scrollbar {
    width: .5vw;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
//    background-color: #00c395;
background-color:var(--semi-dark);
    border: none;
  }

h1 {
    font-size:6vw;
    font-family: var(--sans);
    color:var(--light);
    font-weight:700;
    line-height: 6vw;
    margin-top:2vh;
    margin-bottom:2vh;
}

h2 {
    font-size: 3vw;
    font-family: var(--sans);
    position:relative;
    color: var(--light);
    font-weight: 700;
    line-height: 4vw;
    margin-top: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
    margin-left: 0;
    background:var(--dark);
    z-index:100;
    width:fit-content;
    padding-right:2vw;

}

.hr {
    height: 1px; 
    background-color: var(--semi-dark);
    border: none;
    position:relative;
    top: -4vw;
    width: 100%;
}

p {
    color: var(--light);
    font-family: var(--sans);
    font-weight: 400;
    line-height:200%;
}

.flex {
    display: flex;
    flex-direction: row;
}

.halfScreen {
    width: 50%;
}

h3 {
    font-size: 2vw;
    font-family: var(--sans);
    color: var(--light);
    font-weight: 700;
    line-height: 3vw;
    margin-top: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
    margin-left: 0;
}

li {
    list-style-type: none;
}

.bullet {
    content: url('../images/bulletpoint.png');
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.accented {
    color: var(--accent);
}


@media screen and (max-width: 850px) {
    * {
        font-size: 3vw;
    }
    h1 {
        font-size: 9vw;
    }
    
    h2 {
        font-size: 7vw;
    }
    h3 {
        font-size: 4vw;
    }
}

