@import url("./global.scss");

container {
  width: 80vw;
  margin-left: 10vw;
  display:flex;
  align-items: center;
  min-height:calc(100vh - 120px);
  height:fit-content;

wrap {
  display: block;
  margin:0;
  padding:0;
  z-index:1;
}

img {
  position: absolute;

  // NO IMAGE
  display:none;

  
  left:55vw;
  z-index:0;
  width: 30vw;
}

.typewriter h1 {
  display:inline-block;
  overflow-wrap: break-word;
}

h1, span {
  margin-bottom: 0;
}

h1:not(.bigger), span {
  font-size: 4.75vw !important;
}

.Typewriter__wrapper, .Typewriter__cursor {
  font-size: 6vw;
}
p {
  display:block;
  max-width: 60vw;
}



span {
  color: var(--accent);
  transition: 1s ease;
}

span:hover {
  color: var(--accent-dark);
}

.welcome {
  color: var(--accent);
  font-family: var(--mono);
  display: block;
}

button {
  padding:1.5vw;
  background: var(--dark);
  color: var(--accent);
  border-radius: 0.5vw;
  font-weight:400;
  font-family: var(--mono);
  border:2px solid var(--accent);
  margin-top:1vw;
  transition: 1s ease;
}

button:hover {
  box-shadow: 5px 5px;
}
}

@media screen and (max-width: 850px) {
  container {
  .Typewriter__wrapper, .Typewriter__cursor {
    font-size: 6.5vw;
  }
  h1:not(.bigger) {
    font-size: 6.5vw;
  }
  img {
    display:none;
  }
  p {
    display: block;
  }
  button {
    padding: 3vw;
    border-radius: 1vw;
  }
}
}