@import url("./global.scss");

.navbar {
    display: flex;
    align-items: center;
    color: var(--light);
    font-family: var(--mono);
    font-weight: 300;
    top: 0;
    a {
        color: var(--light);
        text-decoration: none;
        transition:.5s ease;
    }
    a:hover {
        color: var(--accent);
    }
}

.navbar__title {
    margin-right: auto;
    padding: 1vw 1.25vw;
    display:flex;
    align-items:center;
    flex-direction: row;
    img {
        height: 3vw;
    }
}

.navbar__item {
    padding: 1.25vw 1.25vw;
    cursor: pointer;
    vertical-align: middle;
    transition: 1s ease;
    color: var(--light) !important;
    text-decoration: none;
    height:fit-content;
}

.navbar__item:hover {
    color: var(--accent);
}